body {
    display: grid;
    background-color: rgb(59, 59, 59);
    place-content: center;
    height: 100vh;
}

.inputField {
    border-style: none;
    background-color: rgb(59, 59, 59);
    color: white;
    width:200px;
    padding:10px;
    border-radius: 30px;
    box-shadow: 2px 3px 10px rgb(21, 21, 21);
    transition: all 0.1s;
}

.inputField:focus {
    border: solid 2px rgb(0, 153, 255);
    outline: none;
}

.submit-button {
    background-color: rgb(0, 153, 255);
    border-style: none;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    color: white;
    margin-left: 15vh;
    margin-top: 10px;
    transition: all 0.3s;
}

.submit-button:hover {
    background-color: rgb(0, 89, 255);
}

.errorMessage {
    font-family: monospace;
    color: red;
}